<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quiz - El portal donde puedes crear tus propios juegos</title>

		<!-- Bootstrap CSS -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
    	<link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    	<link href="/css/style.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="El portal donde puedes crear tus propios juegos">
          		<img src="/favicon.ico" />Quiz	
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= classMenu.index ?  'active':''%>" ><a href="/">Inicio</a></li>
            <li class="<%= classMenu.quiz ?  'active':''%>"><a href="/quizes">Preguntas</a></li>
            <li class="<%= classMenu.author ?  'active':''%>"><a  href="/author">Créditos</a></li>
          </ul>
			
		  <% if (typeof quizes !== 'undefined' && quizes.length > 1) { %>
				<form action="/quizes/search" method="POST" class="navbar-form navbar-right" role="form">
					<div class="form-group  form-inline">
						<input type="text" class="form-control" name="search" required placeholder="Busqueda de preguntas">
						<button type="submit" class="btn btn-primary">Buscar</button>
					</div>	
				</form>
		  <% } %>

          <ul class="nav navbar-nav navbar-right">
          	<% if(usuario_sesion){ %>
          		<li><a href="/user/<%=usuario_sesion.id%>"><span class="glyphicon glyphicon-user"></span> <%= usuario_sesion.username%></a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Salir de la sesión</a></li>
			<% } else { %>	
				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
			<% } %>	
		  </ul>
        </div>
      </div>
    </nav>

	    <!-- Begin page content -->
	    <div class="container">
	      <div class="page-header">
	        <h1><%= title %><span><%= description %></span></h1>
	      </div>
	    </div>
		
		<div class="container">
			
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">		
				<%- body -%>
			</div >
			
		</div>	

	    <footer class="footer">
	      <div class="container">
	        <p class="text-muted">MOOC: <a href="http://www.miriadax.net/web/javascript-node-js" target="_blank">Desarrollo de servicios en la nube con HTML5, Javascript y node.js</a> | 
	        	src: <a href="https://github.com/arturisimo/quiz" target="_blank"> https://github.com/arturisimo/quiz/</a> |
				doc: <a href="/doc"> Documentos</a>
	        </p>
	      </div>
	    </footer>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>