
<% if(errors.length > 0 ) { %>
	<div class="alert alert-danger">
		<p> <strong>Resuelve los siguientes errores:</strong>
		<ul>
			<%
			for (var i = errors.length - 1; i >= 0; i--) { %>
				<li><%=errors[i].message %></li>
			<% } %>
		</ul>
	</div>
<% } %>

<form action="/quizes/insert" method="POST" role="form">
	<input type="hidden" name="id" placeholder="Input field" value="<%=quiz.id%>">

	<div class="form-group">
		<label for="">Pregunta</label>
		<input type="text" class="form-control" name="preguntas" placeholder="Nueva pregunta" value="<%=quiz.preguntas%>">
	</div>
	
	<div class="form-group">
		<label for="">Respuesta</label>
		<input type="text" class="form-control" name="respuestas" placeholder="Aquí la respuesta" value="<%=quiz.respuestas%>" >
	</div>
	
	<div class="form-group">
		<label for="">Temática</label>
		<select name="tematica" class="form-control">
		  <option value="" selected>Selecciona una temática...</option>
		  <% for (var i = temas.length - 1; i >= 0; i--) { 
		  		var selected = quiz.tematica == temas[i] ? 'selected':''; %>
				<option <%= selected%> value="<%=temas[i]%>" ><%=temas[i] %></option>
		  <% } %>		 
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Enviar</button>
</form>