<%- include ../includes/errors.ejs %>

<form action="/quizes/insert" method="POST" role="form">
	<input type="hidden" name="id" placeholder="Input field" value="<%=quiz.id%>">

	<div class="form-group">
		<label for="">Pregunta <span>(Obligatorio)</span></label>
		<input type="text" class="form-control" name="preguntas" placeholder="Nueva pregunta" value="<%=quiz.preguntas%>">
	</div>
	
	<div class="form-group">
		<label for="">Respuesta <span>(Obligatorio)</span></label>
		<input type="text" class="form-control" name="respuestas" placeholder="Aquí la respuesta" value="<%=quiz.respuestas%>" >
	</div>
	
	<div class="form-group">
		<label for="">Temática <span>(Obligatorio)</span></label>
		<select name="tematica" class="form-control">
		  <option value="" selected>Selecciona una temática...</option>
		  <% temas.forEach(function(tema){ %> 
		  		var selected = quiz.tematica == tema ? 'selected':''; %>
				<option <%= selected%> value="<%=tema%>" ><%=tema %></option>
		  <% }); %>		 
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Enviar</button>
</form>