<table class="table table-hover">
	<thead>
		<tr>
			<th>id</th><th>Pregunta</th><th>Respuesta</th><th>Temática</th><th>Comentarios</th><th></th>
		</tr>
	</thead>
	<tbody>
		<% quizes.forEach(function(quiz) { %>
			<tr>
				<td><%=quiz.id%></td><td><%=quiz.preguntas%></td><td><%=quiz.respuestas%></td><td><%=quiz.tematica%> 
				<td>
				<% if(quiz.comments.length > 0) { %>
					 <a class="show_comments" href="#" > <%=quiz.comments.length%> <span>+</span>  </a>
				<%	} %>
				</td>
				<td><a href="/quizes/<%=quiz.id%>" class="glyphicon glyphicon-search" title="Consultar"></a>
					<a href="/quizes/<%=quiz.id%>/update" class="glyphicon glyphicon-edit" title="Eliminar"></a>
					<a href="/quizes/<%=quiz.id%>/delete" class="glyphicon glyphicon-remove" title="Modificar"></a>
				</td>
			</tr>	
			<% if(quiz.comments.length > 0 ) { %>
			<tr class="comments" >
				<td colspan="6">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th><th>Comentario</th><th></th>
							</tr>
						</thead>
						<tbody>
							<% quiz.comments.forEach(function(comment) { %>
							<tr>
								<td>
								<%  if(comment.site) { %>
										<a href="<%= comment.site %>"><%= comment.nombre %></a>
								<%	} else { %>
										<%= comment.nombre %>
								<%	} %>
								</td>
								<td><%=comment.comentario%>
								<td><a href="/quizes/<%=comment.id%>#comentario<%=comment.id%>" class="glyphicon glyphicon-search" title="Consultar"></a>
									<%  if(comment.valid) { %>
										<a href="/comment/<%=comment.id%>/valid" class="glyphicon glyphicon-chevron-down" title="Deshabilitar"></a>
									<%	} else { %>
										<a href="/comment/<%=comment.id%>/valid" class="glyphicon glyphicon-ban-circle" title="Habilitar"></a>
									<%	} %>
									<a href="/comment/<%=comment.id%>/delete" class="glyphicon glyphicon-remove" title="Eliminar"></a>
								</td>
							</tr>
							<%	}); %>
						</tbody>
					</table>
				</td>
			</tr>	
			<%	} %>
		<%	}); %>
			<tr><td colspan="6">
				<div class="add">
					<a href="/quizes/add" class="btn btn-danger">Nueva pregunta</a>
				</div>
				</td>
			</tr>
	</tbody>
</table>