<% quizes.forEach(function(quiz) { %>
	<form action="/quizes/<%=quiz.id%>/answer" method="POST" role="form">
		<legend><span><a href="/quizes/<%=quiz.id%>">#<%=quiz.id%></a></span> <%= quiz.preguntas %><span class='tematica'><%= quiz.tematica %><span></legend>
	
		<div class="form-group form-inline">
			<input type="text" class="form-control" name="answer" placeholder="responde aquí" required> 
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</form>
<%	}); %>