	<form action="/quizes/<%=quiz.id%>/answer" method="POST" role="form">
		<legend><%= quiz.preguntas %><span class='tematica'><%= quiz.tematica %><span></legend>
	
		<div class="form-group form-inline">
			<input type="text" class="form-control" name="answer" placeholder="responde aquí" required> 
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</form>
	
	<%  if(comments.length>0) {
			comments.forEach(function(comment) {
				if(comment.valid) { 
					var dateComment = comment.createdAt.getDate() + "/" + comment.createdAt.getMonth() + "/" + comment.createdAt.getFullYear();
	%>

				<div class="comentario" id="comentario<%= comment.id%>">
					<legend><a href="#comentario<%= comment.id%>">#<%=comment.id%></a><strong>
					<%  if(comment.site) { %>
						<a href="<%= comment.site %>"><%= comment.nombre %></a>
					<%	} else { %>
						<%  if(comment.nombre!='') { %>
							<%= comment.nombre %>
						<%	} else { %>
							Anónimo
						<%	} %>
					<%	} %></strong>...
					<span class="tematica"> <%= dateComment %></span>
					</legend>
					<p><%= comment.comentario %></p>
				</div>
<%	 			}
			});
		} 
%>

<div class="add-comentario" >
	<form action="/quizes/<%= quiz.id %>/comments/insert" method="POST" role="form">
		<legend>Añadir un comentario</legend>

		<%- include ../includes/errors.ejs %>
		<%	if(msg.length > 0){ %> 
			<div class="alert alert-success"><%=msg%></p></div>
		<% } %>

		<div class="form-group">
			<label for="">Nombre</label>
			<input type="text" class="form-control" name="nombre" placeholder="Nombre"> 
		</div>
		<div class="form-group">
			<label for="">Página web</label>
			<input type="text" class="form-control" name="site" placeholder="Página web"> 
		</div>
		<div class="form-group">
			<label for="">Comentario <span>(Obligatorio)</span></label>
			<textarea name="comentario"  class="form-control" rows="3" ></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</div>