	<form action="/quizes/<%=quiz.id%>/answer" method="POST" role="form">
		<legend><span><a href="/quizes/<%=quiz.id%>">#<%=quiz.id%></a></span> <%= quiz.preguntas %><span class='tematica'><%= quiz.tematica %><span></legend>
	
		<div class="form-group form-inline">
			<input type="text" class="form-control" name="answer" placeholder="responde aquí" required> 
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>
	</form>
	
	<%  if(comments.length>0) {
			for (var i = comments.length - 1; i >= 0; i--) { %>

				<div class="comentario" name="comentario<%= comments[i].id%>">
					<legend>
					<%  if(comments[i].site) { %>
					<a href="<%= comments[i].site %>"><%= comments[i].nombre %></a>
					<%	} else { %>
					<%= comments[i].nombre %>
					<%	} %>
					<span class="tematica"><a href="#comentario<%= comments[i].id%>">#<%=comments[i].id%></a> <%= comments[i].createdAt%></span>
					</legend>
					<p><%= comments[i].comentario %></p>
				</div>
<%	 		}
		} 
%>

<div class="add-comentario" >
	<form action="/quizes/<%= quiz.id %>/comments/insert" method="POST" role="form">
		<legend>Añadir un comentario</legend>

		<div class="form-group">
			<label for="">Nombre</label>
			<input type="text" class="form-control" name="nombre" placeholder="Nombre"> 
		</div>
		<div class="form-group">
			<label for="">Página web</label>
			<input type="text" class="form-control" name="site" placeholder="Página web"> 
		</div>
		<div class="form-group">
			<label for="">Comentario</label>
			<textarea name="comentario"  class="form-control" rows="3" required="required"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</div>