<ul class="list-group">
	<li class="list-group-item">número de preguntas: <%=stats.num_quiz%></li>
	<li class="list-group-item">El número de comentarios totales: <%=stats.num_comment%></li>
	<li class="list-group-item">El número medio de comentarios por pregunta: <%=stats.avg_comment_quiz%></li>
	<li class="list-group-item">El número de preguntas sin comentarios: <%=stats.num_quiz_nocomment%></li>
	<li class="list-group-item">El número de preguntas con comentarios: <%=stats.num_quiz_comment%></li>
</ul>